@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap");
:root {
  --backgroundColor: #101014;
  --secondaryColor: #1b1a1d;
  --activeColor: #bbd8ec;
  --textGray: #414141;
  --textWhite: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Red Hat Display", sans-serif;
}

body {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, 310px);
  align-items: start;
  justify-content: center;
  gap: 2rem;
}

.forcast-container {
  display: flex;
  gap: 19px;
}
