.currentContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.currentTabs {
  display: flex;
  gap: 3rem;
}

.currentButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--textGray);
  font-size: 1.5em;
  font-weight: 500;
}

.currentButton:active {
  color: var(--textWhite);
}

.currentContent {
  display: flex;
  gap: 1rem;
  justify-content: start;
}
